<!DOCTYPE html>
<html>
    <head>
        <title>Review</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="/img/movie.png">
        <link rel="stylesheet" href="/css/styles.css">   <!--absolute path is given-->
        
        </head>
    <body>
       <div class="main-content">
           {{>header}}
  
           <form>
                <input placeholder="Movie Name">
                <button>Submit</button>
           </form>
           <p id='message-1'></p>
           <div class='writing'>
            
            <p id='message-2'></p>
            <p id='message-3'></p>
            <p id='message-4'></p>
            <p id='message-5'></p>
            <p id='message-6'></p>
            <p id='message-7'></p>
            <p id='message-8'></p>
            <p id='message-9'></p>
            <p id='message-10'></p>
            <p id='message-11'></p>
            <p id='message-12'></p>
            <p id='message-13'></p>
           </div>
       </div>
       {{>footer}}
       <script src="/js/app.js"></script>
    </body>
</html>