
#movies img, #movie img {
    width:100%;
}
@media(min-width:960px){
#movies .col-md-3 .well{
    height: 390px;
}

#movies .col-md-3 img{
    height: 240px;
}
}
.main-content{
    flex-grow: 1;
}  
/* footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding-bottom: 0%;
    text-align: center;
} */


